<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roll a dice</title>
</head>
<body>
    <h1>Ludo Game</h1>
    <h3>Dice gave value : 
        <%= diceVal %>
    </h3>

    <% if(diceVal==6){ %>
        <h2>Nice!! Roll dice again</h2>
    <% } %>
</body>
</html>